.ChipWrapper{
    
    padding: 12px;
    border-radius: 360px;
    font-weight: 700;
    flex-shrink: 0;
    cursor: pointer;
}


.ChipInactive{
    border: 1px solid rgb(170, 170, 170);
    color: rgba(127, 127, 127, 0.895);
}
.ChipActive{
    color: white;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);

}